.tabbrowser-tab {
  .tab-background {
    border-radius: 13px !important;
    position: relative !important;
    box-shadow: none !important;
    color: white !important;
    transition:
      background-color 0.3s ease
  }
  &:is([pinned], :not([pinned])):hover .tab-background {
    background-color: light-dark(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)) !important;
  }

  /* ----- Selected state ----- */
  &:is([pinned], :not([pinned])):is([selected="true"], [visuallyselected="true"]) .tab-background {
    background-color: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4))  !important;
  }
}

.zen-essentials-container .tabbrowser-tab {
  .tab-background {
    background-color: light-dark(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)) !important;
    border-radius: 14px !important;
  }
  &:hover .tab-background {
    background-color: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)) !important;
  }
  &[selected],
  &[visuallyselected] {
    .tab-icon-image {
      /* filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.6)) !important; */
      filter: none !important;
      box-shadow: none !important;
    }
    > .tab-stack > .tab-background {
      background-color: light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)) !important;

      &::before {
        border-radius: 14px !important;
      }
      &::after {
        border-radius: 14px !important;
      }
    }
  }
}
